:root{
    --main-color: rgb(29, 22, 22);
    --secondary-dark: rgb(142, 22, 22);
    --secondary-light: rgb(216, 64, 64);
    --secondary-white: rgb(238, 238, 238);
    --name-bracket-margin: 66px;

    --font-color: black;
    --main-color2: #ebeaea;
    --secondary-grey: rgb(150, 150, 150); 
}

body{ 
    background-color: var(--main-color2);
    color: black;
    font-family: "Comfortaa", "sans-serif";

}

.window-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-box {

    background-color: var(--main-color2);
    width: 500px;
    margin: 40px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.bpm-text-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.bpm-text-container h1{
    font-family: "Comfortaa", "sans-serif";
    padding: 5px;
}

.input-container {
    align-items: center;
    margin: 10px auto;
    color: black;
}

.slider {
    appearance: none;
    width: 300px;
    background: var(--secondary-grey);
    outline: none;
    border-radius: 40px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-color2);
    outline:solid 1.75px black;
    cursor: pointer;
}

.bpm-shift-buttons {
    width: 50px;
    height: 50px;
    font-family: "Saira", "sans-serif";
    font-weight: bolder;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

#start-stop-button {
    width: 100px;
    height: 100px;
    font-family: "Comfortaa", "sans-serif";
    font-weight: bold;
    border-radius: 50%;
    margin: 30px auto;
    cursor:pointer;
}

.dots-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#dot1-outer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 20px;
    display: flex;
    align-items:center;
}
#dot1-inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color2);
    margin: 3px auto;

}

#dot2-outer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 20px;
    display: flex;
    align-items:center;
}
#dot2-inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color2);
    margin: 3px auto;

}

#dot3-outer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 20px;
    display: flex;
    align-items:center;
}
#dot3-inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color2);
    margin: 3px auto;

}

#dot4-outer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 20px;
    display: flex;
    align-items:center;
}
#dot4-inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color2);
    margin: 3px auto;

}


